<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sqoopweb</display-name>
  
  <listener>
  <listener-class>listener.SqoopCMDListener</listener-class>
</listener>
  
  <servlet>
		<servlet-name>savedJobList</servlet-name>
		<servlet-class>servlet.savedJobListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>savedJobList</servlet-name>
		<url-pattern>/savedJobList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>savedJobDetail</servlet-name>
		<servlet-class>servlet.savedJobDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>savedJobDetail</servlet-name>
		<url-pattern>/savedJobDetail</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>execSavedJob</servlet-name>
		<servlet-class>servlet.execSavedJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>execSavedJob</servlet-name>
		<url-pattern>/execSavedJob</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>jobExecDetail</servlet-name>
		<servlet-class>servlet.jobExecDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobExecDetail</servlet-name>
		<url-pattern>/jobExecDetail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>runningJobList</servlet-name>
		<servlet-class>servlet.runningJobListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>runningJobList</servlet-name>
		<url-pattern>/runningJobList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>jobHistoryList</servlet-name>
		<servlet-class>servlet.jobHistoryListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobHistoryList</servlet-name>
		<url-pattern>/jobHistoryList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jobExec</servlet-name>
		<servlet-class>servlet.jobExecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobExec</servlet-name>
		<url-pattern>/jobExec</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jobSaveAndExec</servlet-name>
		<servlet-class>servlet.jobSaveAndExecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobSaveAndExec</servlet-name>
		<url-pattern>/jobSaveAndExec</url-pattern>
	</servlet-mapping>
	
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>