<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sqoopweb</display-name>
  
  <listener>
  <listener-class>listener.SqoopCMDListener</listener-class>
</listener>
  
  <servlet>
		<servlet-name>savedJobList</servlet-name>
		<servlet-class>servlet.savedJobListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>savedJobList</servlet-name>
		<url-pattern>/savedJobList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>savedJobDetail</servlet-name>
		<servlet-class>servlet.savedJobDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>savedJobDetail</servlet-name>
		<url-pattern>/savedJobDetail</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>execSavedJob</servlet-name>
		<servlet-class>servlet.execSavedJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>execSavedJob</servlet-name>
		<url-pattern>/execSavedJob</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>runningJobList</servlet-name>
		<servlet-class>servlet.runningJobListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>runningJobList</servlet-name>
		<url-pattern>/runningJobList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>jobHistoryList</servlet-name>
		<servlet-class>servlet.jobHistoryListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobHistoryList</servlet-name>
		<url-pattern>/jobHistoryList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jobExecDetail</servlet-name>
		<servlet-class>servlet.jobExecDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobExecDetail</servlet-name>
		<url-pattern>/jobExecDetail</url-pattern>
	</servlet-mapping>

<!-- import start -->
	<servlet>
		<servlet-name>execImport</servlet-name>
		<servlet-class>servlet.execImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>execImport</servlet-name>
		<url-pattern>/execImport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>saveAndExecImport</servlet-name>
		<servlet-class>servlet.saveAndExecImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveAndExecImport</servlet-name>
		<url-pattern>/saveAndExecImport</url-pattern>
	</servlet-mapping>
	<!-- import end -->
	
	<!-- Multiimport start -->
	<servlet>
		<servlet-name>execImportMulti</servlet-name>
		<servlet-class>servlet.execImportMultiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>execImportMulti</servlet-name>
		<url-pattern>/execImportMulti</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>saveAndExecImportMulti</servlet-name>
		<servlet-class>servlet.saveAndExecImportMultiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveAndExecImportMulti</servlet-name>
		<url-pattern>/saveAndExecImportMulti</url-pattern>
	</servlet-mapping>
	<!-- Multiimport end -->
	
	<!-- export start -->
	<servlet>
		<servlet-name>execExport</servlet-name>
		<servlet-class>servlet.execExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>execExport</servlet-name>
		<url-pattern>/execExport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>saveAndExecExport</servlet-name>
		<servlet-class>servlet.saveAndExecExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveAndExecExport</servlet-name>
		<url-pattern>/saveAndExecExport</url-pattern>
	</servlet-mapping>
	<!-- export start -->
	
	<!-- HDFS Transfer start -->
	<servlet>
		<servlet-name>execHDFSTransfer</servlet-name>
		<servlet-class>servlet.execHDFSTransferServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>execHDFSTransfer</servlet-name>
		<url-pattern>/execHDFSTransfer</url-pattern>
	</servlet-mapping>
	<!-- HDFS Transfer end -->
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>