<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>sqoopweb</display-name>
  
  <servlet>
		<servlet-name>savedJobList</servlet-name>
		<servlet-class>servlet.savedJobListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>savedJobList</servlet-name>
		<url-pattern>/savedJobList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>runningJobList</servlet-name>
		<servlet-class>servlet.runningJobListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>runningJobList</servlet-name>
		<url-pattern>/runningJobList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jobHistoryList</servlet-name>
		<servlet-class>servlet.jobHistoryListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobHistoryList</servlet-name>
		<url-pattern>/jobHistoryList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jobCreate</servlet-name>
		<servlet-class>servlet.jobCreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobCreate</servlet-name>
		<url-pattern>/jobCreate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jobExec</servlet-name>
		<servlet-class>servlet.jobExecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobExec</servlet-name>
		<url-pattern>/jobExec</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jobCreateAndExec</servlet-name>
		<servlet-class>servlet.jobCreateAndExecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobCreateAndExec</servlet-name>
		<url-pattern>/jobCreateAndExec</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jobDetail</servlet-name>
		<servlet-class>servlet.jobDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobDetail</servlet-name>
		<url-pattern>/jobDetail</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>